@use "../base/fonts";

$font-family: "montserrat";
$buttons-color: #313131;

.wrapper {
  padding: 30px;
}

.heroImage {
  width: 70%;
  height: 70%;
  border-radius: 15%;
  margin: 25px 0;
  position: relative;
  top: 42px;
}

.aboutTextWrapper {
  width: 60%;
  font-family: $font-family;
  font-size: 1.9rem;
  padding: 12px;
}

.aboutWrapper {
  display: flex;
  // background-color: grey;
  width: 100%;
  height: auto;
  margin: auto;
}

.textTitleStyle {
  font-family: $font-family;
  font-size: 2rem;
}

.textStyle {
  font-family: $font-family;
  font-size: 1.5rem;
  color: #aaa;
}

.profileItemWrapper {
  display: flex;
  flex-direction: column;
}

.hireMeButton {
  font-family: "montserrat-bold";
  color: $buttons-color;
  border: 2px solid $buttons-color;
  padding: 16px;
  width: 40%;
}

.hireMeButton:hover {
  cursor: pointer;
}

.downloadCVButton {
  font-family: "montserrat-bold";
  background-color: $buttons-color;
  color: white;
  padding: 16px;
  width: 40%;
}

.downloadCVButton:hover {
  cursor: pointer;
}

.buttonsContainer {
  // background-color: yellow;
  width: 40%;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

// mobile styles
.mobileWrapper {
  margin: auto;
  text-align: center;
  padding: 30px;
}

.mobileAboutWrapper {
  display: flex;
  flex-direction: column;
  margin: auto;
  // background-color: blue;
}

.mobileHeroImage {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  margin: 25px 0;
  position: relative;
  top: 42px;
}

.mobileAboutTextWrapper {
  background-color: #eee;
  border-radius: 12px;
  font-family: $font-family;
  font-size: 1.2rem;
  padding: 12px;
  margin: auto;
  text-align: center;
}

.mobileTextStyle {
  font-family: $font-family;
  font-size: 0.9rem;
  color: #aaa;
}

.mobileTextTitleStyle {
  font-family: $font-family;
  font-size: 1.2rem;
}

.mobileHireMeButton {
  font-family: "montserrat-bold";
  color: $buttons-color;
  border: 2px solid $buttons-color;
  padding: 16px;
  // width: 40%;
}

.mobileHireMeButton:hover {
  cursor: pointer;
}

.mobileDownloadCVButton {
  font-family: "montserrat-bold";
  background-color: $buttons-color;
  color: white;
  margin: 12px 0;
  padding: 16px;
  // width: 10%;
}

.mobileDownloadCVButton:hover {
  cursor: pointer;
}

.mobileButtonsContainer {
  // background-color: yellow;
  margin: 24px auto;
  text-align: center;
  display: inline-block;
  justify-content: center;
  flex-direction: column;
}
