@use "../base/fonts";

$font-family: "montserrat";

.wrapper {
  padding: 30px;
}

.heroImage {
  width: 70%;
  height: 70%;
  border-radius: 15%;
  margin: 25px 0;
  position: relative;
  top: 42px;
}

.aboutTextWrapper {
  width: 60%;
  font-family: $font-family;
  font-size: 1.9rem;
  padding: 12px;
}

.aboutWrapper {
  display: flex;
  // background-color: grey;
  width: 100%;
  height: auto;
  margin: auto;
}

.textTitleStyle {
  font-family: $font-family;
  font-size: 2rem;
}

.textStyle {
  font-family: $font-family;
  font-size: 1.5rem;
  color: #aaa;
}

.profileItemWrapper {
  display: flex;
  flex-direction: column;
}

// mobile styles
.mobileWrapper {
  margin: auto;
  text-align: center;
  padding: 30px;
}

.mobileAboutWrapper {
  display: flex;
  flex-direction: column;
  margin: auto;
  // background-color: blue;
}

.mobileHeroImage {
  width: 520px;
  height: 520px;
  border-radius: 50%;
  margin: 25px 0;
  position: relative;
  top: 42px;
}

.mobileAboutTextWrapper {
  background-color: #eee;
  border-radius: 12px;
  font-family: $font-family;
  font-size: 1.2rem;
  padding: 12px;
  margin: auto;
  text-align: center;
}

.mobileTextStyle {
  font-family: $font-family;
  font-size: 0.9rem;
  color: #aaa;
}

.mobileTextTitleStyle {
  font-family: $font-family;
  font-size: 1.2rem;
}
