@use "../abstracts/variable" as var;

.wrapper {
  background-color: #575757;
  padding: 36px 0;
}

.subtitle {
  // background-color: #181818;
  margin-top: 12px;
}

.text {
  text-align: center;
  width: 50%;
  margin: 12px auto;
  font-size: 1.6rem;
  color: #eee;
}

.mobileText {
  text-align: center;
  width: 80%;
  margin: 12px auto;
  font-size: 1.2rem;
  color: #eee;
}

.form {
  text-align: center;
  align-items: center;
  background-color: var.$darkColor;
}

.mobileForm {
  text-align: center;
  align-items: center;
  background-color: var.$darkColor;
}

input {
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid grey;
  font-family: "montserrat";
  color: #eee;
}

input:focus {
  color: white;
  border-color: var.$primary;
}

.input {
  width: 32%;
  font-size: 1.2rem;
  font-weight: lighter;
  padding: 12px;
  margin: 16px 0;
}

.mobileInput {
  width: 60%;
  font-size: 1.2rem;
  font-weight: lighter;
  padding: 12px;
  margin: 16px 0;
}

.error {
  // background-color: yellow;
  width: 33%;
  color: var.$primary;
  font-family: "montserrat";
  text-align: left;
  font-size: 1rem;
  margin: 7px auto;
}

.mobileError {
  // background-color: yellow;
  width: 83%;
  color: var.$primary;
  font-family: "montserrat";
  text-align: center;
  font-size: 1rem;
  margin: 7px auto;
}

button {
  margin: 12px;
  padding: 12px 48px;
  background-color: var.$primary;
  color: white;
  font-family: "montserrat";
  font-size: 1.2rem;
  outline: none;
  border: none;
  box-shadow: 2px 2px 6px;
}

.contactDataWrapper {
  // background-color: yellow;
  text-align: center;
  display: flex;
  justify-content: center;
}

.mobileContactDataWrapper {
  // background-color: pink
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.contactItem {
  margin: 12px;
  // background-color: red;
  width: 25%;
  height: auto;
}

.mobileContactItem {
  margin: 12px;
  // background-color: brown;
}

.mobileIcon {
  width: 70px;
  // height: 120px;
  margin: auto;
  // background-color: blue;
  line-height: 40px;
}

.icon {
  width: 70px;
  // height: 120px;
  margin: auto;
  // background-color: blue;
  line-height: 40px;
}

.contactText {
  color: #313131;
  font-weight: bold;
  padding: 12px;
}

.mobileContactText {
  color: #313131;
  font-weight: bold;
  padding: 12px;
}

.infoText {
  color: #eee;
  font-weight: lighter;
  font-family: "montserrat-lighter";
}

.mobileInfoText {
  color: #eee;
  font-family: "montserrat-lighter";
}

.copyRight {
  color: #eee;
  text-align: center;
  font-family: "montserrat-lighter";
  margin-top: 24px;
  font-size: 1.2rem;
}
