@font-face {
  font-family: "montserrat";
  src: url("../../assets/montserrat/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "montserrat-bold";
  src: url("../../assets/montserrat/Montserrat-Bold.ttf");
}
